<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Primeiro Layouts</title>

</head>
<body>
    <header>
        <h1>Meu site com HTML 5</h1>
    </header>
    
    <section>
        <nav>
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="#">Link 1</a>
                </li>
                <li>
                    <a href="#">Link 2</a>
                </li>

            </ul>
            <h3>Sub Menu</h3>
            <ul>
                <li>
                    <a href="#">Link 3</a>
                </li>
                <li>
                    <a href="#">Link 4</a>
                </li>

            </ul>

        </nav>
        <article>
            <h1>Titulo de sessão</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit laborum tempora qui et unde 
                delectus natus. Ab qui incidunt facilis quia cum? Minima, consequuntur eum ullam deserunt 
                magnam dolores nihil. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero distinctio 
                voluptatem aspernatur eaque nulla. Nobis consectetur architecto debitis dolorem voluptatibus 
                numquam odio amet soluta, iure eveniet optio tempore reprehenderit vero.
            </p>
        </article>
    </section>
    <footer>
        <h3>Rodapé</h3>
    </footer>
</body>
</html>